.header-top-container,
.header-bot-container {
    display: flex;
    justify-content: space-between;
    background-color: #e5a124;
    align-items: center;
    padding: 1em 4em;
    width: 100%;
}

.header-bot-container {
    background-color: #de7d23;
    padding: 1em 4em;
}

.header-container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.Logo {
    width: 70%;
}

.Basket {
    width: 70%;
}

.header-bot-btn {
    display: flex;
    gap: 3em;
}

.header-bot-btn > button {
    padding: 0.5em;
    min-width: 7em;
    background-color: #de7d23;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    cursor: pointer;
}

.header-bot-container > input {
    padding: 0.4em;
    border-radius: 0.5em;
    font-weight: 400;
    border: none;
    font-size: large;
    width: 40vw;
}

@media (max-width: 780px) {
    .header-bot-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-bot-btn {
        display: flex;
        gap: 10px;
        width: 100%;
    }

    .header-bot-btn button {
        width: 100%;
    }

    .header-bot-container > input {
        margin-top: 10px;
        width: 100%;
        font-size: 100%;
    }

    .dropdownFilter {
        left: 50%; /* Center the dropdown */
        transform: translateX(0%); /* Center align the dropdown */
        top: 100%; /* Position right below the button */
        width: 100%; /* Allow the dropdown to fit the content or specific width */
    }
    .dropdownCategory {
        left: 50%; /* Center the dropdown */
        transform: translateX(90%); /* Center align the dropdown */
        top: 100%; /* Position right below the button */
        width: 100%; /* Allow the dropdown to fit the content or specific width */
    }
}

@media (max-width: 660px) {
    .dropdownCategory {
        left: 50%; /* Center the dropdown */
        transform: translateX(60%); /* Center align the dropdown */
        top: 100%; /* Position right below the button */
        width: 100%; /* Allow the dropdown to fit the content or specific width */
    }
}

@media (max-width: 545px) {
    .dropdownCategory {
        left: 50%; /* Center the dropdown */
        transform: translateX(30%); /* Center align the dropdown */
        top: 100%; /* Position right below the button */
        width: 100%; /* Allow the dropdown to fit the content or specific width */
    }
}

@media (max-width: 530px) {
    .header-top-container {
        gap: 60px;
    }

    .Logo,
    .Basket {
        width: 100%;
    }
}

@media (max-width: 486px) {
    .dropdownCategory,
    .dropdownFilter {
        width: 100%;
        left: 0;
        transform: none;
    }
}
@media (max-width: 450px) {
    .header-bot-container,
    .header-top-container {
        padding: 1em 2em;
    }

    @media (max-width: 426px) {
        .dropdownCategory,
        .dropdownFilter {
            width: 100%;
            left: 0;
            transform: translateX(-14%);
        }
    }
    @media (max-width: 392px) {
        .dropdownCategory,
        .dropdownFilter {
            width: 50%;
            transform: translateX(-18%);
        }
    }

    @media (max-width: 362px) {
        .dropdownCategory,
        .dropdownFilter {
            width: 45%;
            transform: translateX(-20%);
        }
    }

    @media (max-width: 333px) {
        .dropdownCategory,
        .dropdownFilter {
            width: 40%;
            transform: translateX(-25%);
        }
    }
}

/* DropDown */
.category,
.filter {
    position: relative;
}
.dropdownCategory {
    position: absolute;
    top: 95%;
    left: 12.6rem;
    max-width: 200px;
    padding: 5px;
    border: 1px solid white;
    color: white;
    background-color: #e5a124;
    border-radius: 7px;
    display: hidden;
}

.dropdownFilter {
    position: absolute;
    top: 95%;
    left: 3.9rem;
    max-width: 200px;
    padding: 5px;
    border: 1px solid white;
    color: white;
    background-color: #e5a124;
    border-radius: 7px;
    display: hidden;
}

.ul-container > * {
    border-bottom: 1px solid white;
    padding: 5px;
    cursor: pointer;
}

.ul-container > li:hover {
    background-color: #de7d23;
    color: #ffffff;
}

.ul-container :last-child {
    border-bottom: none;
}
