.header-top-container,.header-bot-container{
    display: flex;
    justify-content: space-between;
    background-color: #E5A124 ;
    align-items: center;
    padding: 1em 4em;
    width: 100%;
    
}

.header-bot-container{
    background-color: #DE7D23 ;
    padding: 1em 4em;
    
}

.header-container{
    position: sticky;
    top:0;
    width: 100%;
}

.Logo{
    width: 70%;
}

.Basket{
    width: 70%;
}


.header-bot-btn{
    display: flex;
    gap: 3em;
}

.header-bot-btn > button {
    padding: 0.5em;
    min-width: 7em;
    background-color: #DE7D23;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
}

.header-bot-container > input{ 
    padding: 0.4em;
    border-radius: 0.5em;
    font-weight:400;
    border: none;
    font-size: large;
    width: 40vw;
}

@media (max-width: 780px)  {
    .header-bot-container {
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    
    .header-bot-btn {
        display: flex;
        gap: 10px; /* Расстояние между элементами внутри контейнера */
        width: 100%; /* Заставляет контейнер кнопок занимать всю ширину */
    }
    
    .header-bot-btn button {
        width: 100%;
    }
    
    .header-bot-container > input {
        margin-top: 10px;
        width: 100%;
        font-size: 100%;
    }
}

@media (max-width: 530px)  {
    
    .header-top-container{
        gap: 60px
    }

    .Logo, .Basket{
        width: 100%;
    }
    
}
@media (max-width: 450px)  {
    
    .header-bot-container, .header-top-container{
        padding: 1em 2em;
    }
}


