.card {
    position: fixed;
    top: 0;
    left: 100%;
    transition: 0.5s;
    z-index: 100;
    width: 34.7vw;
}

.card-top {
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
}

.closeShopping {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card-mid,
.checkout {
    display: flex;
    flex-direction: column;
}

.card-mid {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5em;
    overflow-y: auto; /* Включает прокрутку, если контент выходит за пределы высоты элемента */
    max-height: 70vh;
}

.listCard {
    margin-bottom: 0.5em;
}

.card-item {
    padding: 2em 0 0.5em 0;
    /* border: 1px dotted green; */
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.remove-item {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.item-info {
    display: flex;
    flex-direction: column;
    width: 7em;
}

.item-info p {
    width: 100%;
    font-weight: 600;
    text-align: center;
}

.value-container {
    display: flex;
    /* border: 1px dotted green; */
    align-items: center;
}

.value {
    border: 1px solid black;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    font-weight: 500;
}

.addValue,
.reduceValue {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    background-color: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.card-item img {
    width: 100%;
}

.summa {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    font-weight: 600;
}

.item-price :first-child,
.total-item-price :first-child {
    margin-bottom: 0.2em;
}

.remove {
    width: 9em;
    padding: 0.4em;
    align-self: flex-end;
    font-weight: 700;
    border: 3px solid black;
    background-color: transparent;
    cursor: pointer;
}

.total {
    align-self: flex-end;
    font-weight: 700;
    padding: 0.8em 0;
}

.kassa-btn {
    padding: 0.4em;
    border: 0;
    background-color: #84b3e0;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.card-top,
.card-mid,
.checkout {
    padding: 0.5em;
}
.checkout {
    background-color: #ebebeb;
}

.card.active {
    left: 65%;
}
.overlay {
    visibility: hidden; /* Скрыт по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
    z-index: 50; /* Z-index меньше чем у корзины, чтобы оверлей был под ней */
}

.overlay.active {
    visibility: visible; /* Показывать оверлей когда корзина активна */
}

@media (max-width: 600px) {
    .card.active {
        width: 100%;
        left: 0;
    }
}
